@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


:root{
    --fonte1: 'Passion One', 'Cursive';
    --fonte2: 'Sriracha', 'Cursive';
}
* {
    margin: 0px;
    padding: 0px;
}
header{
    background-color: black;
    color: white;
    padding: 10px;
    height: 120px;
    text-align: center;
    position: relative;
}
header >div.centro{
    /*Centralização da Div especial*/
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
header h1{
    font-family:var(--fonte1);
    font-size: 5vw;
}
header a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    
}
header a:hover{
    background-color: rgb(177, 136, 74);
    border-radius: 4px;
    transition-duration: 0.3s;
    padding: 3px;
}
main section{
    margin: 115px 0px 86px 0px;   
}
main p{
    font-family: var(--fonte2);
    font-weight: normal;
    line-height: 2em;
    font-size: 3vw;
    padding-left: 25px;  
    
    
}
#girassol{
    background-image: url("pacote-d012/imagens/background001.jpg");
    height: 700px;
    background-attachment: fixed;
    background-size: cover;
    background-position: right center;
    padding-top: 70px;
    box-shadow: inset 1px 4px 10px rgba(0, 0, 0, 0.493);
}

#girassol > p{
    background-color: rgba(0, 0, 0, 0.37);
    max-width: 300px;
    color: white;
    
}
#livro{
    background-image: url("pacote-d012/imagens/background002.jpg");
    height: 700px;
    background-attachment: fixed;
    background-size: cover;
    background-position: right center;
    padding-top: 70px;
    box-shadow: inset 1px 4px 10px rgba(0, 0, 0, 0.493);
}
#livro > p{
    background-color: rgba(0, 0, 0, 0.37);
    max-width: 300px;
    color: white;
}
footer{
    background-color: black;
    color:whitesmoke;
    text-align: center;
    padding: 7px;
}
footer p{
    font-size: 1.2em;
}
footer a{
    color: rgb(207, 204, 204);
    text-decoration: none;

}
footer >p >a:hover{
    text-decoration: underline;
    color: antiquewhite;
}